.gitattributes export-ignore
/misc/reservationinfo.zip export-ignore
/misc/ReservationInfo.zip export-ignore
/misc/GPLv3.0.svg export-ignore
/misc/ReservationInfo_Config.png export-ignore
/misc/ReservationInfo_NetworkDevices.png export-ignore
/misc export-ignore
